name: Docker Image CI

on:
  push:
    branches: ["master"]

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm"]
    permissions:
      contents: read
      packages: write
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v3.8.0

    - name: Docker Login
      uses: docker/login-action@v3.3.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image by digest
      id: build
      uses: docker/build-push-action@v6.12.0
      with:
        cache-from: type=gha,scope=${{ matrix.os }}
        cache-to: type=gha,mode=max,scope=${{ matrix.os }}
        outputs: type=image,name=ghcr.io/${{ github.repository }},push-by-digest=true,name-canonical=true,push=true

    - name: Export digest
      run: |
        mkdir -p /tmp/digests
        digest="${{ steps.build.outputs.digest }}"
        touch "/tmp/digests/${digest#sha256:}"

    - name: Upload digest
      uses: actions/upload-artifact@v4
      with:
        name: digests-${{ matrix.os }}
        path: /tmp/digests/*
        if-no-files-found: error
        retention-days: 1

  push:
    needs: build
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - id: version
      name: Read version.txt
      run: cat version.txt >> "$GITHUB_OUTPUT"

    - name: Download digests
      uses: actions/download-artifact@v4
      with:
        path: /tmp/digests
        pattern: digests-*
        merge-multiple: true

    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v3.8.0

    - name: Docker Login
      uses: docker/login-action@v3.3.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Create manifest list and push
      working-directory: /tmp/digests
      run: |
        docker buildx imagetools create \
          -t ghcr.io/${{ github.repository }}:latest \
          -t ghcr.io/${{ github.repository }}:${{ steps.version.outputs.MAJOR }} \
          -t ghcr.io/${{ github.repository }}:${{ steps.version.outputs.MAJOR }}.${{ steps.version.outputs.MINOR }} \
          -t ghcr.io/${{ github.repository }}:${{ steps.version.outputs.MAJOR }}.${{ steps.version.outputs.MINOR }}.${{ steps.version.outputs.PATCH }} \
          -t ghcr.io/${{ github.repository }}:${{ github.sha }} \
          $(printf 'ghcr.io/${{ github.repository }}@sha256:%s ' *)
